SUPABASE_URL=https://Your_supabase_url.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Your_supabase_service_role_key

GEMINI_API_KEY=AIzaSyYour_Gemini_API_key
GROQ_API_KEY=gsk_Your_GROQ_API_key
HF_TOKEN=hf_Your_HF_token

JWT_EXPIRY_MINUTES = 60
JWT_ALGORITHM=HS256
JWT_SECRET=Your_JWT_secret_key


QDRANT_API_KEY=Your_QDRANT_API_key
QDRANT_URL=https://Your_QDRANT_URL